[submodule "external/atom"]
	path = external/atom
	url = https://github.com/fleroviux/atom
[submodule "external/lunatic"]
	path = external/lunatic
	url = https://github.com/fleroviux/lunatic
[submodule "external/oaknut"]
	path = external/oaknut
	url = https://github.com/merryhime/oaknut
[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/capstone-engine/capstone.git
